<a name="" id="" class="btn btn-primary" href="/account/signup" role="button">Signup</a>
<a name="" id="" class="btn btn-primary" href="/account/signin" role="button">login</a>
<a name="" id="" class="btn btn-primary" href="/admin/categories" role="button">categories</a>
<a name="" id="" class="btn btn-primary" href="/admin/categories/add" role="button">categories add</a>
<a name="" id="" class="btn btn-primary" href="/admin/categories/edit" role="button">categories edit</a>