<form action="" method="post">
    <div class="card">
        <h5 class="card-headed mt-4 mx-3 " >New Category</h5>
        <div class="card-body">
            <div class="mb-3">
                <label for="txtCatname" class="form-label mx">Category name</label>
                <input type="text" class="form-control" id="txtCatname" name="catname" autofocus>
            </div>
        </div>
    </div>

    <div class="card-footer text-muted mt-2">
        <a name="" id="" class="btn btn-outline-success" href="/admin/categories" role="button">
            <i class="bi bi-arrow-left"></i>
            Back
        </a>

        <button type="summit" class="btn btn-success">
            <i class="bi bi-check2"></i>
            Save
        </button>
    </div>
</form>